@font-face {
    font-family: "Krungthep";
    src: url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.eot");
    src: url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.woff") format("woff"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.svg#Krungthep") format("svg");
}

html {
    font-family: "Krungthep";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #000000;
    min-height: 100vh;
    width: 100vw;
    font-family: "Krungthep", "Raleway", sans-serif;
    color: #ffffff;
    margin: 0 0;
    padding: 0 0;
}